export NUXEO_API_ENDPOINT=http://nuxeo.cdlib.org/nuxeo/site/api/v1
export NUXEO_API_TOKEN=

export DBQUERY_URL=https://nuxeo.cdlib.org/cdl_dbquery
export DBQUERY_TOKEN=

# to write files to S3
#export METADATA_STORE=s3://pad-nuxeo/nuxeo_merritt/metadata

# to write files to local file system
export METADATA_STORE=file:///Users/bhui/dev/nuxeo-api-testing/output